**/**.pyc
**/**.__pycache__
output/atria_trainer/Cifar10HFDataset/resnet50/2024-10-31/23-58-14/atria_trainer.log
output/atria_trainer/Cifar10HFDataset/resnet50/2024-10-31/23-58-14/events.out.tfevents.1730415495.aletheia
output/atria_trainer/Cifar10HFDataset/resnet50/2024-10-31/23-58-14/checkpoints/checkpoint_10.pt
output/atria_trainer/Cifar10HFDataset/resnet50/2024-10-31/23-58-14/hydra/config.yaml
output/atria_trainer/Cifar10HFDataset/resnet50/2024-10-31/23-58-14/hydra/hydra.yaml
output/atria_trainer/Cifar10HFDataset/resnet50/2024-10-31/23-58-14/hydra/overrides.yaml
output/atria_trainer/Cifar10HFDataset/resnet50/2024-11-01/00-39-16/atria_trainer.log
output/atria_trainer/Cifar10HFDataset/resnet50/2024-11-01/00-39-16/events.out.tfevents.1730417957.aletheia
output/atria_trainer/Cifar10HFDataset/resnet50/2024-11-01/00-39-16/checkpoints/checkpoint_10.pt
output/atria_trainer/Cifar10HFDataset/resnet50/2024-11-01/00-39-16/hydra/config.yaml
output/atria_trainer/Cifar10HFDataset/resnet50/2024-11-01/00-39-16/hydra/hydra.yaml
output/atria_trainer/Cifar10HFDataset/resnet50/2024-11-01/00-39-16/hydra/overrides.yaml
output/model_explainer/Cifar10HFDataset/resnet50/events.out.tfevents.1730490186.aletheia
output/model_explainer/Cifar10HFDataset/resnet50/events.out.tfevents.1730490323.aletheia
output/model_explainer/Cifar10HFDataset/resnet50/events.out.tfevents.1730490369.aletheia
output/model_explainer/Cifar10HFDataset/resnet50/events.out.tfevents.1730490474.aletheia
output/model_explainer/Cifar10HFDataset/resnet50/events.out.tfevents.1730490496.aletheia
output/model_explainer/Cifar10HFDataset/resnet50/events.out.tfevents.1730490601.aletheia
output/model_explainer/Cifar10HFDataset/resnet50/model_explainer.log
output/model_explainer/Cifar10HFDataset/resnet50/SaliencyExplainer.h5
output/model_explainer/Cifar10HFDataset/resnet50/hydra/config.yaml
output/model_explainer/Cifar10HFDataset/resnet50/hydra/hydra.yaml
output/model_explainer/Cifar10HFDataset/resnet50/hydra/overrides.yaml
